section#details-camera
	.container
		.details-content
			.structure-info
				.structure-info__title
					h2 Detalles que resaltan<br> los <b>colores de tus fotografías</b> 
				.structure-info__line
				.structure-info__description
					p Huawei P10 revoluciona la industria con una cámara Dual Leica 20MP + <br>
						| 12 MP que marcará un antes y después en la fotografía en equipos móviles. <br>
						| Además, posee una cámara frontal Leica de 8 MP, con modo belleza en <br>
						| tiempo real. Es decir, captura la luz de alrededor para brindarte un <br>
						| autorretrato perfecto.
		.image-content
			img(src=url+"/documents/80379/5378446/details-camera.png/9deaa562-8350-480d-956d-fa6db36a84e8?t=1492047484632")