section#features
	.container-features
		.first-row
			.image-content
				img(src=url+"/documents/80379/5378446/estudio-fotografico.png/e5b29662-3fd1-4926-8a79-30caddcdd458?t=1492049149095")
			.features-content
				.structure-info
					.structure-info__title
						h2 Lleva un <b>estudio fotográfico</b><br> a todos lados
					.structure-info__line
					.structure-info__description
						p Con el Modo Retrato Leica del Huawei P10 podrás hacer de tus fotos <br>
							| auténticas obras de arte, aumentando los colores y brindando una <br>
							| mayor profundidad de campo. Además, cambia automáticamente a <br>
							| gran angular cuando se suman más personas a la toma.
						p El Huawei P10 posee una Apertura Virtual; esto crea un efecto <br>
							| “Bokeh” profesional más natural en tus fotografías. También cuentas <br>
							| con Modo Pro, en donde encontrarás la configuración de los principales  <br>
							| valores que tiene una cámara profesional.
		.second-row
			.container
				.second-row__left
					.features-content
						.structure-info
							.structure-info__title
								h2 <b>Velocidad</b> que deslumbra
							.structure-info__line
							.structure-info__description
								p Con el procesador Hisilicon Kirin 960, 2.4 GHz quad + 1.8 GHz quad <br>
									| del Huawei P10 podrás realizar todas tus actividades de una forma <br>
									| extraordinaria e inmediata. Además, con una carga rápida de 30’’ <br>
									| podrás tener hasta 1 día de uso sin grandes interrupciones.
					.features-content
						.structure-info
							.structure-info__title
								h2 <b>Resistencia</b> de lujo
							.structure-info__line
							.structure-info__description
								p El nuevo Huawei P10 posee una pantalla de 5.2” FHD protección <br>
									| Gorila Glass 5 para que nada te detenga.
				.second-row__right
					.image-content
						img(src=url+"/documents/80379/5378446/velocidad-resistencia.png/d92508de-b585-4ebe-b25b-c4436f1a606e?t=1492049149743")