section#filter-plan
	.container
		.filter-content
			.filter-content__title
				h2 Experimenta el lujo del <strong>Huawei P10.</strong> Selecciona un plan y adquiérelo ahora:
			.filter-content__content
				.content__img
					img(src=url+"/documents/80379/5378446/huaweip10.png/aa89eb0b-ef28-4990-856f-43419a186a58?t=1492033638537")
				.content__filter
					.filter-select
						select(id="contracts" name="contracts")
					.filter-select
						select(id="plans" name="plans")
					.filter-description
						h2 Huawei <strong>P10</strong>
						h3 Precio de equipo
						h1 <span class="coin">S/</span><span id="price">1849</span>
					.filter-button
						button(type="button") <a id="btn-link" href="http://tiendaonline.movistar.com.pe/campanas/form-linea-nueva-desktop-3/?c=HUAVTR1">Comprar</a>