section#legals
	.container
		.terms
			a(href="http://www.movistar.com.pe/condiciones-catalogo-online", target="_BLANK") - <span>Términos y condiciones Compra Online</span>
		.findshops
			a(href=url+"/documents/80379/5378446/Lista_de_Tiendas_P10.pdf/673855f1-371c-48e7-bcc0-ee68b1abd5ed", target="_BLANK") - Conoce <span>aquí</span> los puntos donde encontrar tu Huawei P10