//Header
#header-top{
  height: 50px;
  border: 0;
  margin: 0;
  background: #1f2124;
  .container{
    background: #1f2124;
    .navbar{
      min-height: 50px;
      margin: 0;
      padding: 0;
      border-radius: 0;
      border: none;
      background-color: transparent;
      .container-fluid{
        padding: 0;
        .navbar-header{
          .navbar-brand{
            height: 50px;
            @include tablet{
            }
          }
        }
        .navbar-collapse{
          border: none;
        }
      }
    }
  }
}
