footer#footer-bottom
  .logo-telefonica
    a(href="http://www.telefonica.com.pe", target="_blank")
      img(src=url+"/documents/80379/5378446/logo_telefonica.png/682d15fe-d466-42cf-9318-f6397324b9dd?t=1492722821484", alt="Telefonica")
  .txt-footer
    p &copy; 2017 Movistar. Todos los derechos reservados.