header#header-top.navbar.navbar-static-top
  .container
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='http://www.movistar.com.pe', target="_BLANK")
            img(src=url+"/documents/80379/5378446/logo_movistar.png/e1b53c64-d136-42d4-bf87-ab3e3eda7490?t=1492015279119")