$break-smallCellphone: 360px;
$break-footer: 404px;
$break-cellphone: 480px;
$break-second-row: 599px;//528
$break-filter: 602px;
$break-tablet: 768px;
$break-web: 998px;
$break-Bigweb: 1200px;
$break-Landing: 1260px;
$break-Laptop15pulg: 1366px;
$break-bigLaptop: 1400px;

@mixin cell360p {
  @media (min-width: #{$break-smallCellphone}) {
    @content;
  }
}
@mixin cell404p {
  @media (min-width: #{$break-footer}) {
    @content;
  }
}
@mixin cell480p {
  @media (min-width: #{$break-cellphone}) {
    @content;
  }
}
@mixin cell599p {
  @media (min-width: #{$break-second-row}) {
    @content;
  }
}
@mixin cell602p {
  @media (min-width: #{$break-filter}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$break-tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$break-web}) {
    @content;
  }
}

@mixin bigDesktop {
  @media (min-width: #{$break-Bigweb}) {
    @content;
  }
}

@mixin landingDesktop {
  @media (min-width: #{$break-Landing}) {
    @content;
  }
}

@mixin laptop15p {
  @media (min-width: #{$break-Laptop15pulg}) {
    @content;
  }
}

@mixin biglaptop {
  @media (min-width: #{$break-bigLaptop}) {
    @content;
  }
}